body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.header-container, footer, .container {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1em;
}

.header-container h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 2em 0;
}

#search-section {
    margin-bottom: 2em;
}

input[type="text"] {
    width: 70%;
    padding: 0.5em;
    margin-right: 1em;
}

button {
    padding: 0.5em 1em;
    cursor: pointer;
}

#map {
    height: 400px; /* Set the desired height for the map */
    border: 1px solid #ddd; /* Add a border for clarity */
}
